/* App wide global css goes in this file  */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eaeaea;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbarPageHeader {
  min-width: 120vh;
  height: 6vh;
  display: flex;
  flex-direction: column;
}

.sidebarMenu {
  height: 100%;
  border-right: 0;
}

.legend {
  position: absolute;
  bottom: 0;
  right: auto;
  width: min-content;
  /*padding: 10px;*/
  margin: 10px;
  border-style: double;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  /*align-items: flex-start;*/
  flex-direction: column;
  margin: 0;
  height: 100vh;
  /*font-weight: 700;*/
  font-family: sans-serif;
}

