/* App wide global css goes in this file  */

.App {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.mirror-container {
  background-color: #141631;
}

.topbarPageHeader {
  background-color: #b2c4db;
  padding: 0 50px;
  min-width: 120vh;
  display: flex;
  flex-direction: column;
}

.topbarDateChooser {
  padding: 0 50px;
}

.topbarDateChooserText {
  padding: 0 10px;
}

.sidebar {
}

.segmentDetails {
  background-color: #d6dadc;
}

.sidebarMenu {
  background-color: #d6dadc;
  height: 100%;
  border-right: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  /*align-items: flex-start;*/
  flex-direction: column;
  margin: 0;
  height: 100vh;
  /*font-weight: 700;*/
  font-family: sans-serif;
}

