*.class
*.log
*.rdb
*.cache
/esw-segment-db-prototype.iml
/.idea/
/.bsp/
/project/target/
target/
/esw-segment-db/target/
/esw-segment-db/xxx.json
/scripts/www.json
/scripts/xxx.json
/xxx.json
/scripts/yyy.json
/scripts/zzz.json
/esw-segment-web/package-lock.json
