.segment {
  transition: 0.4s;
  cursor: pointer;
}
.segment:hover {
  fill: #4169dc;
}

.A {
  fill: #eeda00;
}
.D {
  fill: #eeda00;
}
.B {
  fill: #ffcc99;
}
.E {
  fill: #ffcc99;
}
.C {
  fill: #bbe0e3;
}
.F {
  fill: #bbe0e3;
}
.empty {
  fill: whitesmoke;
}
svg {
  width: 1000px;
  flex: 1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-weight: 700;
  font-family: sans-serif;
}
a {
  color: #ccc;
  padding: 10px;
  text-decoration: none;
  transition: color 0.4s;
}
a:hover {
  color: #333;
}
