.segment {
  /*transition: 0.4s;*/
  cursor: pointer;
}
.A, .D {
  fill: #eeda00;
}
.A.empty, .D.empty {
  fill: #f8ee92;
}

.B, .E {
  fill: #ffcc99;
}
.B.empty, .E.empty {
  fill: #ffefe0;
}

.C, .F {
  fill: #bbe0e3;
}
.C.empty, .F.empty {
  fill: #e2ecec;
}
.segment:hover {
  fill: #7192f5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-weight: 700;
  font-family: sans-serif;
}
a {
  color: #ccc;
  padding: 10px;
  text-decoration: none;
  transition: color 0.4s;
}
a:hover {
  color: #333;
}

.mirror-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 95%;
}

.mirror-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
